@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

/* Common classes */
.section_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section_wrapper {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  padding: 1rem 0;
}

/* Hero Section */
.section_container.hero {
  background-color: yellow;
  height: 90vh;
}

.section_wrapper.hero {
  background-color: #f0f0f0;
}

.hero nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_logo {
  cursor: pointer;
}

.nav_links {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.nav_links a {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

/* Courses Section */
.section_container.courses {
  height: 80vh;
  background-color: red;
}

.section_wrapper.courses {
  background-color: green;
}

/* AboutUs Section */
.section_container.about {
  height: 70vh;
  background-color: pink;
}

.section_wrapper.about {
  background-color: green;
}

/* Contact Section */
.section_container.contact {
  height: 100%;
  background-color: blue;
}

.section_wrapper.contact {
  background-color: #f0f0f0;
}

.contact_main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_main_left,
.contact_main_right {
  flex: 1;
}

.contact_main_left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contact_form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  max-width: 500px;
}

.contact_form input,
textarea {
  padding: 1rem;
  outline: none;
  border: none;
  background-color: lightpink;
  border-radius: 0.5rem;
}

.contact_form .submit_btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_form button {
  padding: 1rem;
  width: 100%;
  max-width: 200px;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: lightpink;
  color: #fff;
}

/* Footer Section */
.section_container.footer {
  height: 60vh;
  background-color: #2f2f2f;
}

.section_wrapper.footer {
  color: #f5f5f5;
}

.footer_top {
  width: 100%;
  padding: 1rem 0;
}

.footer_middle {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.footer_middle_left {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.footer_middle_left .title {
  font-size: 1.25rem;
  font-weight: 600;
}

.footer_middle_left ul li {
  list-style: none;
  cursor: pointer;
  margin-top: 0.5rem;
}

.footer_middle_right .shape {
  position: relative;
  background-color: #4f4f3f;
  height: 120px;
  width: 120px;
  border-radius: 2rem 0 2rem 0;
}

.footer_middle_right .shape .shape_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social_icons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.social_icons i {
  cursor: pointer;
  font-size: 1.25rem;
  transition: all 0.3s ease;
}

.social_icons i:hover {
  transform: scale(1.25);
}

/* .social_icons i.fa-linkedin-square:hover {
  color: #0072b1;
}

.social_icons i.fa-facebook-square:hover {
  color: #3b5998;
}

.social_icons i.fa-twitter-square:hover {
  color: #00acee;
}

.social_icons i.fa-instagram:hover {
  color: #feda75;
} */

.footer_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  font-size: 0.75rem;
  font-weight: 300;
}

.footer_bottom_right {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.footer_bottom_right span {
  cursor: pointer;
}
